<md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

<div class="sessions">
  <md-tabs class="filter-tabs md-primary md-hue-2" md-selected="selectedIndex">
    <md-tab ng-click="chosenType='Webinar'">Webinar</md-tab>
    <md-tab ng-click="chosenType='Panel'">Panels</md-tab>
    <md-tab ng-click="chosenType='Round Tables'">Round tables</md-tab>
    <md-tab ng-click="chosenType='Q&A\'s'">Q&A's</md-tab>
    <md-tab ng-click="chosenType='Others'">Others</md-tab>
    <md-tab ng-click="chosenType=''" md-select-on-focus="true">All content</md-tab>
  </md-tabs>

  <div layout="row" layout-align="center center" layout-padding>
    <div class="ongoing" ng-click="status='ongoing'">ONGOING</div>
    &nbsp;|&nbsp;
    <div class="completed" ng-click="status='completed'">COMPLETED</div>
  </div>

  <div layout="row" layout-align="center center" ng-repeat="session in sessions | filter:chosenType">
    <div flex></div>
    <div class="session" layout="column" flex="100" flex-gt-sm="none">
      <div class="" flex layout="row" layout-sm="column" layout-xs="column">
        <div class="" flex flex-gt-sm="40" flex-order="2" flex-order-gt-sm="1" layout-padding>
          <div class="heading">
            <div class="md-caption"><span class="type">{{session.type}}</span> | <span
                    class="code">{{session.code}}</span></div>
            <a ui-sref="/session({sessionId:session.$id})">
              <h4 class="md-headline headline">{{session.title}}</h4>
            </a>
          </div>
          <div class="body">
            <div class="presenters" ng-show="session.presenters">With {{session.presenters}}</div>
            <div class="">{{session.description}}</div>
          </div>
        </div>
        <div flex flex-gt-sm="60" flex-order="1" flex-order-gt-sm="3">
          <div class="md-media-lg">
            <a ui-sref="/session({sessionId:session.$id})">
              <img class="poster responsive" src="{{session.posterUrl}}">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div flex></div>
  </div>
</div>
