<md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

<md-tabs class="md-primary md-hue-2">
  <md-tab ng-click="chosenType='Webinar'" ui-sref="/sessions">&lt; Back</md-tab>
</md-tabs>

<div layout="row" layout-align="center center">

  <div class="session" layout="column">

    <div class="md-accent md-hue-1" flex flex-order="2" layout-padding>
      <div class="heading">
        <div class="md-caption"><span class="type">{{session.type}}</span> | <span class="code">{{session.code}}</span>
        </div>
        <h4 class="md-headline headline">{{session.title}}</h4>
      </div>
      <div class="body">
        <div class="presenters" ng-show="session.presenters">With {{session.presenters}}</div>
        <div class="">{{session.description}}</div>
      </div>
      <div class="footer">
        <div layout="column" layout-gt-xs="row">
          <div layout="row" flex>
            <div flex="9" layout="row">
              <div flex>
                <md-icon class="md-48 md-accent md-hue-2">date_range</md-icon>
              </div>
            </div>
            <div class="open-status" flex="80" flex-gt-sm="60" layout="column">
              <div flex class="md-caption">
                <span class="uppercase">Session open until</span>
              </div>
              <div flex><span class="uppercase md-body-2 date">Monday 1/10 at 12am</span></div>
            </div>
          </div>
          <div layout="row" layout-align="center center" flex="40" class="conversation-data">
            <div flex="50">
              <md-icon class="md-32 md-accent md-hue-2">account_box</md-icon>
              {{session.participantsCount}} participants
            </div>
            <div flex="50">
              <md-icon class="md-32 md-accent md-hue-2">comment</md-icon>
              {{session.groupConversationCount}} comments
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="" flex flex-order="1">
      <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" data-setup="" autoplay controls
             fluid preload="auto" poster="{{session.posterUrl}}">
        <source type='video/mp4'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>

    <div ng-show="session.allowComments" flex flex-order="4" id="embedded-feed" style="height:600px;" ng-cloak=""></div>
  </div>
</div>