body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

h4.project-title {
  color: #FBC02D;
}

.page-nav {
  border: none;
}

.main-view-container {
  background: linear-gradient(145 deg, #E0E0E0 20%, #F5F5F5 20%);
  overflow: visible;
}

.admin-section {
  margin-top: 30px;
  background-color: white;
}

button.toolbar-fab {
  position: absolute;
  top: -34px;
  right: 8px;
}

img.responsive {
  width: 100%;
}

.sessions {
  .filter-tabs .md-active {
    background-color: #1A237E!important;
  }
  .session {
    margin: 0 0 3em;
  }
}

.session {
  background-color: #fff;
  border-radius: 5px;
  max-width: 960px!important;

  .headline {
    font-weight: bold;
    margin: 0.5em 0;
  }

  .type, .code {
    text-transform: uppercase;
  }

  .presenters {
    font-weight: bold;
  }
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: 50% !important;
}

.vjs-poster {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

iframe, object, embed {
  max-width: 100%;
}

/** MATERIAL ICONS COMPLETION **/
.material-icons.md-48 { font-size: 48px; height: 48px; width: 48px; }

.material-icons.md-40 { font-size: 40px; height: 40px; width: 40px; }

.material-icons.md-32 { font-size: 32px; height: 32px; width: 32px; }

.noselect {
  /*   outline: none; */
}