body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: inherit;
}

h4.project-title {
  color: #FBC02D;
}

.page-nav {
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.main-view-container {
  background: linear-gradient(145 deg, #E0E0E0 20%, #F5F5F5 20%);
  overflow: visible;
}

.admin-section {
  margin-top: 30px;
  background-color: white;
}

button.toolbar-fab {
  position: absolute;
  top: -34px;
  right: 8px;
}

img.responsive {
  width: 100%;
}

.sign-in {
  height: 600px;

  p {
    text-align: center;
  }
}

.sessions {
  .filter-tabs .md-active {
    background-color: #1A237E!important;
  }
  .session {
    margin: 0 0 3em;
  }
}

.session {
  background-color: #fff;
  border-radius: 5px;
  max-width: 960px!important;

  .headline {
    font-weight: bold;
    margin: 0.5em 0;
  }

  .presenters {
    font-weight: bold;
  }

  .footer {
    margin-top: 0.2em;
    .conversation-data {
      margin-top: 1em;
    }
    .open-status {
      margin-top: 9px;
      .date {
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }
  }

  .poster-container {
    position: relative;

    .conversation-data {
      background-color: rgba(251, 192, 45, 0.8);
      position: absolute;
      bottom: 2em;
      left: 3em;
      width: 180px;
      padding: 2px;
    }
  }
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: 50% !important;
}

.vjs-poster {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

iframe, object, embed {
  max-width: 100%;
}

.alpha60 {
  /* RGBa with 0.6 opacity */
  background-color: rgba(251, 192, 45, 0.6);
}

.md-caption {
  letter-spacing: 0.5em;
} 

/** MATERIAL ICONS COMPLETION **/
.material-icons.md-48 { font-size: 48px; height: 48px; width: 48px; }

.material-icons.md-40 { font-size: 40px; height: 40px; width: 40px; }

.material-icons.md-32 { font-size: 32px; height: 32px; width: 32px; }

.noselect {
  /*   outline: none; */
}